/* sec. ID */
/* sec. Tag */
/* sec. Classi */
.low_color{
    color: rgb(170, 170, 153);
}

.high_color{
    color: rgb(82, 201, 201);
}

.small_font{
    font-size: 12px;
}

.img_size{
    height: 300px;
}

.evidance{
    background-color: yellow;
}

.norder_position{
    padding-left: 8px;
}

























