/* sec. ID */
/* sec. Tag */

ul{
    padding-left: 10px;
}

/* sec. Classi */


.header_img{
    height: 100px;
    background-color: #00b4d8;
    background-image: url('../img/pattern.png');
    
}

.logo{
    width: 25%;
    padding: 50px 0px 0px 0px;
}

.low_color{
    color: rgb(170, 170, 153);
}

.high_color{
    color: rgb(82, 201, 201);
}

.small_font{
    font-size: 12px;
}

.img_size{
    height: 300px;
}

.evidance{
    background-color: yellow;
}

.norder_position{
    padding-left: 8px;
}

table, th, td {
    border-collapse: collapse;
    text-align-last: left;
    font-size: 11px;
  }

.column_size_1{
    width: 25%;
}

.column_size_2{
    width: 50%;
}

/* Classi di colori */

.color_blue{
    background-color: #0077b6;
    color: #fff;
}

.color_light_blue{
    background-color: skyblue;
}

.type{
    
}
















